
@{
    ViewBag.Title = "ViettelPostView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Mẫu VIETTELPOST</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Forms</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Netpost</a>
                        </li>


                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
           
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">

            <!--begin::Card-->
            <div class="row">

                <div class="col-lg">
                    <div class="card card-custom example example-compact">
                        <div class="card-header">
                            <div class="card-title">
                                <h2><b><span style="color: #01766b;">VIETTEL</span><span style="color: #f27510;">POST</span></b></h2>
                            </div>

                        </div>
                        <!--begin::Form-->
                        <form class="form" action="/" method="post" id="viettel_form">
                            <input hidden type="text" name="bill_status" class="form-control" value="1" />
                            <input hidden name="user_id" value="@Model.UserID" />
                            @Html.AntiForgeryToken()
                            <input hidden type="text" name="prov_id" class="form-control" value="2" />
                            <div class="card-body">
                                <div class="alert alert-custom alert-light-success d-none" role="alert" id="kt_form_2_msg">
                                    <div class="alert-icon">
                                        <i class="flaticon2-bell-5"></i>
                                    </div>
                                    <div class="alert-text font-weight-bold">Oh snap! Change a few things up and try submitting again.</div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span>
                                                <i class="ki ki-close"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">Mã đơn hàng:</h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label> Mã vạch:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" id="barcode" name="barcode" class="form-control" placeholder="Nhập mã vạch"  />
                                            </div>


                                            <div class="col-lg-6">
                                                <label> Ngày gửi:<span class="text-danger">*</span></label>
                                                <div class="input-group date" id="kt_datetimepicker_1" data-target-input="nearest">
                                                    <input data-vali="true" type="datetime" id="date" name="date" class="form-control datetimepicker-input" placeholder="Select date & time" data-target="#kt_datetimepicker_1" data-toggle="datetimepicker" />
                                                    <div class="input-group-append" data-target="#kt_datetimepicker_1" data-toggle="datetimepicker">
                                                        <span class="input-group-text">
                                                            <i class="ki ki-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>

                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>1. Thông tin người gửi:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">

                                            <div class="col-lg-6">
                                                <label> Người gửi:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" name="billing_card_name" class="form-control" readonly placeholder="" value="CÔNG TY CỔ PHẨN THƯƠNG MẠI HÀ PHAN" />
                                            </div>
                                            <div class="col-lg-6">
                                                <label> Số điện thoại:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" name="comp_phone" class="form-control" placeholder="" value="123456789" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label> Địa chỉ:<span class="text-danger">*</span></label>
                                                <textarea data-vali="true" rows="4" readonly style="resize:none ;" class="form-control">Số 758/25/2b Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh, TP. Hồ Chí Minh</textarea>
                                            </div>



                                        </div>



                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>2. Thông tin người nhận:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label> Công ti nhận:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" id="customer_comp" name="customer_comp" class="form-control" placeholder="" value="Công Ty TNHH Canon Việt Nam-Chi Nhánh Quế Võ" />
                                            </div>


                                            <div class="col-lg-6">
                                                <label> Người nhận:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" id="customer_name" name="customer_name" class="form-control" placeholder="" value="MS.Hoa" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label> Địa chỉ:<span class="text-danger">*</span></label>
                                                <textarea data-vali="true" id="customer_add" name="customer_add" rows="4" style="resize:none ;" class="form-control">Số 758/25/2b Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh, TP. Hồ Chí Minh</textarea>
                                            </div>


                                            <div class="col-lg-6">
                                                <label> Số điện thoại:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" name="cus_phone" class="form-control" placeholder="" value="123456789" />
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
                                        <b>3. Nội dung BPBK</b>
                                        <i data-toggle="tooltip" data-width="auto" class="mb-3__help" title="If different than the corresponding address"></i>
                                    </h3>
                                    <div class="mb-2">

                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>Nội dung <span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" id="content" name="content" class="form-control" placeholder="Nhập nội dung" value="" />
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Số kiện <span class="text-danger">*</span></label>
                                                <input data-vali="true" type="number" id="package_numb" name="package_numb" class="form-control" placeholder="Nhập số kiện" value="" />
                                            </div>
                                        </div>
                                      



                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>Trọng lượng<span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input data-vali="true" id="pro_wei" name="pro_wei" type="number" class="form-control" placeholder="Nhập trọng lượng" />

                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">kg</span>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Kích thước:</label>
                                                <div class="input-group">
                                                    <input type="number" id="pro_leng" name="pro_leng" class="form-control" placeholder="Nhập chiều dài" />
                                                    <input type="number" id="pro_wid" name="pro_wid" class="form-control" placeholder="Nhập chiều rộng" />
                                                    <input type="number" id="pro_hei" name="pro_hei" class="form-control" placeholder="Nhập chiều cao" />
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">m</span>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group row">

                                            <div class="col-lg-6">
                                                <label class="col-form-label">Loại sản phẩm<span class="text-danger">*</span></label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" data-check="false" id="CatBox1" value="2" name="CatBox" />
                                                    <label class="form-check-label">Hàng Hóa</label>

                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" data-check="false" id="CatBox2" value="1" name="CatBox" />
                                                    <label class="form-check-label">Tài liệu</label>

                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" data-check="false" id="CatBox3" value="3" name="CatBox" />
                                                    <label class="form-check-label">Hóa chất</label>

                                                </div>



                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>4. Hình thức vận chuyển:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Chọn hình thức vận chuyển:<span class="text-danger">*</span></label>
                                                <div class="radio-inline">
                                                    <label class="radio">
                                                        <input type="radio" id="transCPN" checked value="1" name="transRadios" />
                                                        <span></span>
                                                        Chuyển phát nhanh
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="transHT" value="7" name="transRadios" />
                                                        <span></span>
                                                        Chuyển phát tiết kiệm
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="transGTC" value="6" name="transRadios" />
                                                        <span></span>
                                                        Giao hàng thu tiền
                                                    </label>




                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>5. Hình thức thanh toán:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Chọn hình thức thanh toán: <span class="text-danger">*</span></label>
                                                <div class="radio-inline">
                                                    <label class="radio">
                                                        <input type="radio" checked value="1" name="paymentRadios" />
                                                        <span></span>
                                                        Người gửi
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" value="3" name="paymentRadios" />
                                                        <span></span>
                                                        Người nhận
                                                    </label>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                




                                @*<div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>6. Dịch vụ gia tăng:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Chọn hình thức thanh toán: <span class="text-danger">*</span></label>
                                                <div class="radio-inline">
                                                    <label class="radio">
                                                        <input type="radio" checked value="5" name="serviceRadios" />
                                                        <span></span>
                                                        Giao hẹn giờ
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" value="4" name="serviceRadios" />
                                                        <span></span>
                                                        Bảo hiểm
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" value="2" name="serviceRadios" />
                                                        <span></span>
                                                        Đồng kiểm
                                                    </label>



                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>7. Ghi chú thêm:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label for="exampleTextarea">Ghi chú <span class="text-danger">*</span></label>
                                                <textarea style="resize: none;" class="form-control" id="exampleTextarea" rows="3" placeholder="Nhập ghi chú"></textarea>
                                            </div>
                                        </div>

                                    </div>

                                </div>*@



                            </div>

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button id="save" type="button" class="btn btn-primary font-weight-bold mr-2">Save</button>

                                        <button id="exit" type="reset" class="btn btn-light-primary font-weight-bold">Cancel</button>
                                    </div>
                                </div>
                            </div>
                      
                           
                        
                        </form>
                        
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="~/assets/js/AddBill/Viettelpost.js"></script>
<script src="~/Scripts/jquery.scannerdetection.js"></script>
@*<script type="text/javascript">

    $("#printData").click(function () {

        var check = true;
        $.each($(":input[data-vali='true']"), function () {
            console.log($(this).val())
            if ($(this).val() == "") {
                $(this).addClass("is-invalid")
                check = false
            }
            else {
                $(this).removeClass("is-invalid")

            }

        })
        var cat1 = $("#CatBox1").data('check');
        var cat2 = $("#CatBox2").data('check');
        var cat3 = $("#CatBox3").data('check');

        if (cat1 == "false" && cat2 == "false" && cat3 == "false") {
            $("#valiCat").css('visibility', 'visible')
            check = false
        }

        console.log(check)
        if (!check) {
            Swal.fire("Error!", "Vui lòng nhập đầy đủ thông tin!", "error");
        }
        else {
            $.ajax({
                type: "post",
                url: '@Url.Action("Print","WayBill")',
                data: $("#kt_form_2").serialize(),
                datatype: 'json',
                success: function (data) {
                    console.log(data)



                    $("#cus_name").children().text(data.customer_name);
                    $("#cus_inf").children('#cus_comp').text(data.customer_comp);
                    $("#cus_inf").children('#cus_add').text(data.customer_address);
                    $("#cus_phone").children().text(data.customer_phone);
                    $("#bill_content").children().text(data.bill_content);
                    $("#bill_HD").children().text(data.contract_numb);
                    $("#pro_weight").children().text(data.pro_wei);
                    $("#pro_length").children().text(data.pro_leng);
                    $("#pro_width").children().text(data.pro_wid);
                    $("#pro_height").children().text(data.pro_hei);
                    $("#pro_package").children().text(data.package_numb);

                    if (data.cate1) {
                        $("#pro_cat1").children().text("V");
                    }
                    if (data.cate2) {
                        $("#pro_cat2").children().text("V");
                    }


                    if (data.trans != null) {
                        $("#service_" + data.trans).children().text("V");
                    }

                    if (data.trans != null) {
                        $("#trans_" + data.trans).children().text("V");
                    }
                    if (data.payment != null) {
                        $("#pays_" + data.payment).children().text("V");
                    }

                    if (data.cantship != null) {
                        $("#cantship_" + data.cantship).children().text("V");
                    }
                    var datadate = data.date;
                    if (data.date != null || data.date != "") {

                        var datetime = data.date.split(" ");
                        var date = datetime[0].split(".");
                        var time = datetime[1].split(":");

                        $("#timedate").children("#timehour").text(time[0]);
                        $("#timedate").children("#timeminu").text(time[1]);
                        $("#timedate").children("#dateday").text(date[0]);
                        $("#timedate").children("#datemonth").text(date[1]);
                        $("#timedate").children("#dateyear").text(date[2].slice(-2));
                    }


                    //printDiv();
                    //location.reload(true);
                }
            });


            create()
        }






    });
    function create() {
        $.ajax({
             type: "post",
             url: '@Url.Action("Create","WayBill")',
             data: $("#kt_form_2").serialize(),
             datatype: 'json',
             success: function (data) {
                 if (data.message == "Success") {
                     Swal.fire("Thành công!", "Thêm thành công phiếu gửi!!", "success");
                 }
                 else {
                     Swal.fire("Lỗi!", data.message, "error");
                 }

             }
         });
    }







</script>*@
<script type="text/javascript"> 
    $(document).scannerDetection({
        timeBeforeScanTest: 200, // wait for the next character for upto 200ms
        startChar: [120], // Prefix character for the cabled scanner (OPL6845R)
        endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
        avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
        onComplete: function (barcode, qty) {
            validScan = true;
            $('#barcode').val(barcode);

        } // main callback function


    });  </script>
<script src="~/assets/js/PropCheckBox.js"></script>

