
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/assets/css/pages/error/forbidden.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403</title>
</head>

<body>
    <div class="scene">
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <span class="bg-403">403</span>
        <div class="text">
            <span class="hero-text"></span>
            <span class="msg"> Bạn <span>KHÔNG</span> có quyền truy cập</span>
            <span class="support">
                <span>Gặp vấn đề?</span>
                <a  href="javascript:;">Liên lạc với quản trị viên</a>
            </span>
        </div>
        <div class="lock"></div>
    </div>
</body>

</html>
<script type="text/javascript">
   
</script>